# Tuple Cheat Sheet (Immutable Lists)

This cheat sheet contains everything related to List DS.

Tuples are mutable but the elements inside the tuples are mutable.

In [1]:
#empty tuple
t = ()

t = (1, 2, 3)
print(t)

t = (1, 'Jashan', 21, 'Bansal')
print(t)

#nested tuple
t = (1, (2, 3, 4), [1, 'Jashan', 21, 'Bansal'])
print(t)

(1, 2, 3)
(1, 'Jashan', 21, 'Bansal')
(1, (2, 3, 4), [1, 'Jashan', 21, 'Bansal'])

In [4]:
t = ('Jashan')
print(type(t))

# We have to append a single item using comma
#need a comma at the end
t = ('Jashan',)
print(type(t))

<class 'str'>
<class 'tuple'>

In [5]:
#parenthesis is optional

t = "Jashan", 
print(type(t))

print(t)

<class 'tuple'>
('Jashan',)

In [6]:
# Indexing
# Slicing

In [7]:
# Changing a tuple
t = (1, 2, 3, 4, [5, 6, 7])

t[2] = 'x'

TypeError: 'tuple' object does not support item assignment

In [8]:
t[4][1] = 'Jashan'
print(t)

(1, 2, 3, 4, [5, 'Jashan', 7])

In [10]:
# Concatinating tuples using +
# Repeat the elements of a tuple using *

a = (1,2,3) + (4,5,6)
print(a)

b = (1,2,3) * 4
print(b)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [11]:
# Tuple deletion : Delete entire tuple

# Tuple count(value)

# Tuple index(value): return first index of the values

# Tuple membership: in

In [12]:
# Bilt In Functions:

# len()
# sorted()
# max()
# min()
# sum()